{%extends "index.html"%}
{%block title %}Request Taxi{%endblock%}
{%block head%}{{super()}}{%endblock%}
{%block back_img%}taxi_back.jpg{%endblock%}
{%block form_header%}Request a Taxi{%endblock%}
{%block nav_log%}Logout{%endblock%}
{%block form_content%}
<form method="POST">

    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example1cg">Origin</label>
        <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="origin"
            placeholder="Example street 23, Madrid" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example3cg">Destination</label>
        <input type="text" id="form3Example3cg" class="form-control form-control-lg" name="destination"
            placeholder="Example street 68, Madrid" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example4cg">Date</label>
        <input type="text" id="form3Example4cg" class="form-control form-control-lg" name="date"
            placeholder="13/05/2021" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example4cdg">Time</label>
        <input type="text" id="form3Example4cdg" class="form-control form-control-lg" name="time" placeholder="16:45" />
    </div>

    <br>
    <div class="d-flex justify-content-center">
        <input type="submit" value="Submit Request" style="color:floralwhite;"
            class="btn btn-primary btn-block btn-lg gradient-custom-4">
    </div>
</form>
{%endblock%}